.product-session{
    background-color: #fef5ea;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}
.header {
    background-color: #e9a144;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 90%;
    height: 200px;
    margin: 0 auto;
} 

.product-banner h1 {
  text-align: left;
    font-size: 50px;
    color: #fff;
}
.product-contact {
    margin: 0;
    font-size: 35px;
    color: #fff;
}

.contact {
    text-align: right;
}

.products {
    text-align: center;
    padding: 40px 20px;
}
.products h2{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #e9a144;
    
}
.products h3{
    text-align: center;
    font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
   margin-bottom: 20px;
}

.product-container {
    display: flex;
    justify-content: space-evenly;
}
.product-card {
    background: white;
     border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
      width: 300px;
    height: 50%;
    display: flex ; /*quando for na vertical usar flex na horizontal display grid*/
        flex-direction: column;
}
.product-txt{
    padding: 15px;
}

.product-card img {
    width: 100%;
    border-radius: 5px;
    
   
}

.price-tag {
    background-color: #fff;
    color: #333;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
}
